<div class="row align-center mb-5">
  <div class="col-md-6">
    <div class="card">
      <div class="columns">
        <div class="column card-image-column">
          <div class="card-image">
            <figure class="image post-img">
              <img
                src="../../public/images/post-placeholder.jpeg"
                alt="Placeholder image"
              />
            </figure>
          </div>
        </div>
        <div class="column card-text-column">
          <div class="card-content is-align-items-flex-start post-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-16x16x">
                  <img
                    class="is-rounded"
                    src={{pet_pic}}
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{pet.name}}</p>
                <p class="subtitle is-6">@{{pet.username}}</p>
                <h2><strong>{{title}}</strong></h2>
                <br />
                <h3>{{caption}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="commentBox">
  <article class="media">
   <div class="media-content">
    <div class="content">
      <p>
        <strong>Barbara Middleton</strong>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
        <br>
         路 <a>Like</a> 路 
      </p>
    </div>
  </div>
</article>
<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article>
</div>


{{!-- <div class="row align-center mb-5">
  <div class="col-md-6">
    <div class="card">
      <div class="columns">
        <div class="column card-image-column">
          <div class="card-image">
            <figure class="image post-img">
              <img
                src="../../public/images/post-placeholder.jpeg"
                alt="Placeholder image"
              />
            </figure>
          </div>
        </div>
        <div class="column card-text-column">
          <div class="card-content is-align-items-flex-start post-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-16x16x">
                  <img
                    class="is-rounded"
                    src={{pet_pic}}
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{pet.name}}</p>
                <p class="subtitle is-6">@{{pet.username}}</p>
                <h2><strong>{{title}}</strong></h2>
                <br />
                <h3>{{caption}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<article class="media">
   <div class="media-content">
    <div class="content">
      <p>
        <strong>Barbara Middleton</strong>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
        <br>
        <small><a>Like</a> 路 <a>Reply</a> 路 3 hrs</small>
      </p>
    </div>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article> --}}


