<div class="row align-center mb-5">
  <div class="col-md-6">
    <div class="card">
      <div class="columns">
        <div class="column card-image-column">
          <div class="card-image">
            <figure class="image post-img">
              <img src="{{picture}}" alt="Post image" />
            </figure>
          </div>
        </div>
        <div class="column card-text-column">
          <div class="card-content is-align-items-flex-start post-content">
            <div class="media">
              <div class="postInfo">
              <div class="media-left">
                <figure class="image is-16x16x">
                  <img
                    class="is-rounded pet-pic"
                    src="{{pet.pet_pic}}"
                    alt="Profile picture"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{pet.name}}</p>
                <p class="subtitle is-6">@{{pet.username}}</p>
                <h2><strong>{{title}}</strong></h2>
                <br />
                <h3>{{caption}}</h3>
              </div>  
              </div>
              <div id="commentBox">
<article class="media commentBody">
  <div class="media-content" style="display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-start;">
    <div class="field">
      <p class="control">
        <input id="commentInput{{id}}"  class="input is-medium" type="text" placeholder="Add your comment">
      </p>
    </div>
    <div class="commentAndLike" class="field">
      <p class="control">
        <button style="margin:.25em"id="comment-btn{{id}}" data-id={{id}} class="button commentButton">Post comment</button>
      </p>
<button style="background-color:white; margin:.25em" data-id={{id}} data-likes={{likes}} class="like-button" id="likeButton{{id}}">❤️</button>
<p style="margin:.25em">Likes: {{likes}}</p>
</label>
    </div>
  </div>
</article>
 <article class="media" >
   <div class="media-content" >
    <div class="content" >
      <ul id="commentList{{id}}">
    {{#each comments as |comment|}}
    <li>{{comment.pet.username}}: {{comment.comment}}</li>
    {{/each}}
      </ul>
    </div>
  </div>
</article>
</div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
