
 <div class="columns">


<div class="column is-one-fifth">

  <aside class="menu">
    <p class="menu-label">
      Current Pets
    </p>
    <ul class="menu-list">
        {{#each pets as |pet|}}
    <li><a href="/profile/{{username}}">{{name}}</a></li>
    {{/each}}
    </ul>
    <p class="menu-label">
      Add new pet
    </p>
    
  </aside>

</div>

<div class="column">
<div class="card " >
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{pet_pic}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{currentPet.name}} , {{currentPet.age}} years old</p>
        <p class="subtitle is-6">@{{currentPet.username}}</p>
      </div>
    </div>
    <div class="content">
    {{bio}} 
    </div>
  </div>
 
  
</div>
 <section class="flex-row justify-center">
    {{#each posts as |post|}}
    {{> post-details}}
    {{/each}}
  </section>